body {
    background-image:url("images/rws_background.jpg");
    background-size: 75%;
    background-repeat: repeat;
    margin:0;
}

#lmao {
    background-color: rgba(255,255,255,.5);
    background-size: 100%;
    margin:0;
    padding:100px;
}


.boxed {
    margin-left: 6rem;
    margin-right:6rem;
}

.site-landing {
    text-align: center;
    background-color: rgba(127, 201, 241, 0.9);
    padding-top:0px;
    padding-bottom:10px;
    padding-left: 0px;
    padding-right: 0px;
}

.page-title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 4.5rem;
    padding:0;
    margin:0;
}

.site-links {
    text-align: center;
    padding:0;
    list-style-type: none;
}


.site-links li {

    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    margin-left:1rem;
    margin-right:1rem;
    font-size: 1.5rem;
    border: 2px solid black;
    background-color: white;
}

.site-links li :hover{
    border: 2px solid black;
    background-color: black;
    color:white;
}

.site-links a:active {
    color:rgb(47, 198, 236);
    margin:0;
}

.welcome-message-greeting {
    font-size:2rem;
    margin-left:12%;
}

main {
    background-color: rgba(240, 248, 255,.9);
    padding:20px;
}


main p {
    text-align: left;
    font-size:1.5rem;
    overflow-wrap: break-word;
    margin-left: 15%;
    margin-right: 15%; 
}

.signature {
    padding-left:85%;
}

.name {
    text-align:right;   
}

.website-title {
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size:3.5rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 10px;

    margin: 100px 1rem 5rem 1rem;
}